.admin {
  .cohorts-list-section {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;

    padding: 10px;
    margin-right: 10px;

    border: 1px solid $blue-digital;
    border-radius: 4px;

    .new-cohort {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 50px;

      padding: 5px;
      
      border-top: 1px solid $blue-digital;
      @include btn(100%);
    }
  }
}