<p>Dear <%= @application.user.alt_name  %></p>

<p>Congratulations! I'm writing to let you know that you have been selected as a scholarship recipient of our <%= @application.cohort.title %> Turing School of Software & Design Diversity Scholarship. You’ll soon receive a credit agreement through Right Signature reflecting the additional $4,000 tuition waiver.</p>

<p>We are looking forward to having you here at Turing next month, and we are excited to be part of this next stage in your journey.</p>

<p>Thank you for sharing your story with us. We hope this helps you achieve your dreams.</p>
