.admin-frame {
  @include shadow();

  display: flex;
  flex-direction: row;

  width: 1200px;
  height: 100%;
  padding: 10px;

  section.cohorts,
  section.applications {
    display: flex;

    width: 50%;
    padding: 20px;
  }
}