.homepage-frame {
  // @include shadow();

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  margin: 80px 0 20px 0;

  width: 1200px;
  height: 100%;

  @include btn();
}