.admin {

  .view-applications,
  .no-application {
    display: block;

    width: 60%;
    height: 100%;

    padding: 10px;

    border: 2px solid $blue-digital;
    border-radius: 4px;

    @include shadow();
  }

  .no-application {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}