.admin {
  .reviewer-search-box {
    display: flex;
    flex-direction: column;

    width: 100%;

    border: 1px solid $blue-digital;
    border-radius: 4px;

    .search-input {
      width: 100%;
      min-height: 30px;

      padding: 5px;

      @include input();
    }

    .search-results {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;

      padding: 10px;

      overflow: scroll;

      .reviewer-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        min-height: 30px;
        width: 100%;

        @include btn(50px, 15px);
      }
    }
  }
}
