.cohort-form-section {
  .cohort-reviewers {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 50%;

    padding: 10px;

    overflow: scroll;

    border: 1px solid $blue-digital;
    border-radius: 4px;

    .reviewer-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      height: 30px;
      width: 100%;

      @include btn(15px, 15px);
    }
  }
}