$alpha: 1;

$gray-print: rgba(38, 38, 38, $alpha);
$gray-digital: rgba(77, 77, 79, $alpha);
$blue-pms: rgba(0, 196, 220, $alpha);
$blue-digital: rgba(0, 187, 210, $alpha);
$blue-4: rgba(66, 255, 212, $alpha);