@font-face {
  font-family: "Helvetica Neue LT Std-Hv";
  src: url(/assets/fonts/HelveticaNeueLTStd-Hv.otf) format("truetype");
}
@font-face {
  font-family: "Aktiv Grotesk W01 Regular";
  src: url(/assets/fonts/Aktiv_Grotesk_W01_Regular.otf) format("truetype");
}

body {
  font-family:"Aktiv Grotesk W01 Regular";
  color: $gray-print;
}

// Links

a {
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

// Headers

h1, h2, h3, h4, h5 {
  font-family:"Helvetica Neue LT Std-Hv";
  weight: bold;
  color: #4d4d4f;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
   font-size: 2em;
   font-weight: bold;
   color: #1EBBD0;
   text-align: center;
   padding: 10px;
   line-height: 40px;
}

.page-title {
  color: $turing-gray;
  margin: 2%;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

p {
  color: #4d4d4f;
}
