body {
  font-family: "azo-sans-web", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray-print;
}

// Links

a {
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

// Headers

h1, h2, h3, h4, h5 {
  weight: bold;
}

h1 {
  size: 48px;
  height: 52.8px;
}

h3 {
  size: 24px;
  height: 31.2px;
}