body {
  font-family: "azo-sans-web", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $gray-print;
}

// Links

a {
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

// Headers

h1, h2, h3, h4, h5 {
  weight: bold;
  color: #4d4d4f;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin: 30px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  line-height: 40px
}

h2 {
   font-size: 36px;
   font-weight: bold;
   color: #1EBBD0;
   text-align: center;
   padding: 10px;
   line-height: 40px
  }

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

p {
  color: #4d4d4f;
}
