.student {
  .application-form {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 10px;

    textarea {
      width: 100%;
      height: 100%;

      padding: 10px;

      border: 1px solid $blue-digital;
      border-radius: 4px;

      outline: none;
      overflow: scroll;

      font-size: 18px;
    }

    textarea:hover {
      @include shadow;
    }
  }
}