.student {
  .confirm-submission {
    @include btn;
    
    .btn {
      margin-left: 20px;
    }

    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 80px;

    padding: 20px 0px;
  }
}