.student {
  .confirm-cohort-frame {
    @include btn();

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 100%;

    padding: 20px;

    p {
      height: 60px;

      font-size: 24px;
    }
  }
}