.admin {
  .new-cohort {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    padding-top: 10px;

    border-top: 1px solid $blue-digital;
    @include btn(100%);
    
    .btn {
      font-size: 12px;
      height: 25px;
    }
  }
}