.cohort-form-section {
  h3.cohort-title {
    color: $blue-digital;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .cohort-data {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 50%;

    padding: 10px;
    margin-right: 10px;

    overflow-y: scroll;
  }
}

.form-row {
  display: flex;
  align-items: center;

  min-height: 30px;
  padding: 5px;

  .input-label {
    font-size: 14px;
    font-weight: bolder;
    margin-right: 5px;
  }

  @include input();
  
  input {
    width: 30px;
    font-size: 14px;
    padding: 3px;
  }
  input.readOnlyfalse:hover {
    border: none;
  }
}