
.cohort-form {
  display: flex;
  flex-direction: row;
  justify-content: left;

  width: 100%;
  height: 100%;

  padding: 10px;

  border: 1px solid $blue-digital;
  border-radius: 4px;
  
  .cohort-data .cohort-title {
    text-align: left;
  }
}
