.cohort-reviewers-section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 20px;

  height: 100%;
  width: 100%;

  padding: 10px;

  overflow-y: scroll;

  border: 1px solid $blue-digital;
  border-radius: 4px;

  .reviewer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;

    min-height: 30px;
    width: 50%;

    @include btn(15px, 15px);
  }
}
