.cohorts-list {
  .cohort-row {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 30px;

    padding: 5px;
    margin-bottom: 5px;

    border: 1px solid $blue-digital;
    border-radius: 4px;

    font-size: 18px;
  }

  .cohort-row:hover {
    @include shadow;

    border: 2px solid $blue-digital;
  }

  .cohort-row.selected {
    @include shadow;
    
    border: 2px solid $blue-digital;
  }
}