.header-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 70px;
  margin-bottom: 20px;

  width: 100%;

  background-color: $gray-digital;

  img {
    height: 55px;
    margin: 20px;
  }

  menu.user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 20px;

    min-width: 120px;

    .logout {
      text-align: center;
      width: 120px;

      .btn {
        font-size: 18px;
      }
    }

    span, a {
      // width: 60px;
      font-size: 18px;
      color: white;
      padding: 0 10px 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    a:hover {
      text-decoration: none;
    }
    
    #gh-nav-logo {
      height: 23px;
      margin: 10px;
    }
  }
}