.header-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 45px;

  width: 100%;

  background-color: $gray-digital;
  
  .turing-logo-space {
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 3%
  }

  img {
    width: 35px;
  }
  
  .role-header {
    color: white;
    font-size: 125%;
    text-align: center;
    width: 100%;
  }

  menu.user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 3%;
    font-size:  0.9em;
    width: 90%;

    .logout {
      text-align: right;
      width: 30%;

      .btn {
        color: white;
        padding-right: 0px;
      }
    }

    .name, a {
      color: white;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
    a:hover {
      text-decoration: none;
    }
    
    #gh-nav-logo {
      height: 23px;
      width: 23px;
      margin: 10px;
    }
  }
}

.applications-header {
  text-align: center;
  font-size: 14px;
  padding: none;
}