.static-text-field {
  display: flex;
  flex-direction: row;

  align-items: center;

  height: min-content;
  padding: 5px;

  .static-label {
    width: 100%;
    color: $gray-print;
  }

  .static-text {
    width: 100%
  }
}