.static-text-field {
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: center;

  min-height: 25px;;
  padding: 5px;
  
  span {
    width: 100%;
    height: 100%;
    font-weight: bolder;
  }
  
  span:last-of-type {
    text-align: center;
  }
}