.admin {
  .application-info-frame {
    @include shadow();

    display: flex;
    flex-direction: column;

    height: 400px;
    width: 100%;

    margin-bottom: 20px;

    .user-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 50px;
      width: 100%;

      padding: 20px;

      border-bottom: 1px solid $blue-digital;
    }

    .essay-preview {
      padding: 20px;

      font-size: 18px;
      line-height: 24px;

      overflow: scroll;
    }
  }
}