.cohorts-frame {
  @include shadow();

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 400px;

  padding: 10px;

  overflow: scroll;

  .open {
    background-color: green;
  }

  .closed {
    background-color: #eeeeee;
  }
}