.admin {
  .cohorts-frame {
    @include shadow();

    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    padding: 10px;

    overflow: scroll;

    .open {
      background-color: $action-green;
    }

    .closed {
      background-color: $action-none;
    }
  }
}