.admin-navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  min-height: 50px;

  @include btn($width: 140px);
  
  .btn {
    margin: 0px 10px;
    font-size: 12px;
    max-width: 100px;
  }
}