.admin-navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  min-height: 50px;

  padding: 10px;
  margin: 10px;

  @include btn($width: 120px);
}