@mixin btn($width: 90px, $height: 30px) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $width;
    height: $height;

    padding: .6%;

    background-color: $blue-digital;
    border-radius: 4px;

    color: white;
    font-size: 14px;

    cursor: pointer;
  }

  .btn.true {
    visibility: hidden;
  }

  .btn.false  {
    visibility: visible;
  }

  .btn:hover {
    @include shadow();
  }

  .btn:active {
    background-color: $blue-pms;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    font-weight: normal;
  }
}