@mixin btn($width: 100px, $height: 30px) {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $width;
    height: $height;

    padding: 10px;

    background-color: $blue-digital;
    border-radius: 4px;

    color: white;

    font-size: 18px;

    cursor: pointer;
  }

  .btn.disable {
    display: flex;
    visibility: hidden;
  }

  .btn.enable  {
    visibility: visible;
  }

  .btn:hover {
    @include shadow(0, 0, 7px, 0.5px, 0.2);
  }

  .btn:active {
    background-color: $blue-pms;
  }
}