@mixin dropdownMenu() {

  .circle-dropdown-menu {
    display: flex;
    flex-direction: column;

    width: 100%;
    color: black;

    .header {

      display: flex;
      align-items: center;

      width: 100%;
      min-height: min-content;
      max-height: max-content;

      padding: 5px;
      border-bottom: 5px solid #e1e1e1;
      border-radius: 4px 4px 0 0;

      background-color: $gray-digital;
      color: #e1e1e1;
    }

    .list {
      display: flex;
      flex-direction: column;

      width: 100%;
      max-height: 200px;
      border-radius: 0 0 4px 4px;
      border-bottom: 5px solid #e1e1e1;

      background-color: #e1e1e1;
      color: $gray-digital;

      overflow-y: scroll;

      .item {
        display: flex;
        flex-direction: row;
                
        width: 100%;
        min-height: 20px;

        padding: 5px;
      }
    }

    .list.false {
      display: none;
    }
  }
}