input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

@mixin input() {
  input {
    width: 100%;
    height: 100%;

    font-size: 18px;
    padding-left: 5px;
    border-radius: 4px;
  }

  input.readOnlytrue-admin {
    color: $gray-digital;
    width: 130px;
  }

  input.readOnlyfalse {
    color: $gray-print;
    background-color: $gray-highlight;
    padding-left: 10px;
  }
  
  input.readOnlyfalse-admin {
    color: $gray-print;
    background-color: $gray-highlight;
    width: 120px;
  }

  input.readOnlyfalse:focus {
    @include shadow();
  }

  input.readOnlyfalse:hover {
    border-bottom: 3px solid $blue-digital;
  }
}