@mixin shadow($horz: 1px, $vert: 1px, $blur: 7px, $spread: 0.5px, $color: rgba(0, 0, 0, 0.1)) {
  -webkit-box-shadow: $horz $vert $blur $spread $color;
    -moz-box-shadow: $horz $vert $blur $spread $color;
      box-shadow: $horz $vert $blur $spread $color;
}